<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item nav-category">
      <span class="nav-link">Menu</span>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_user' %}">
        <span class="menu-title">Dashboard</span>
        <i class="icon-speedometer menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'eventos' %}">
        <span class="menu-title">Eventos</span>
        <i class="icon-calendar menu-icon"></i>
      </a>
    </li>

    {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <span class="menu-title">Sair</span>
            <i class="icon-logout menu-icon"></i>
          </a>
        </li>

    {% endif %}

  </ul>
</nav>
