{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - MeetFlow{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" align-items-baseline report-summary-header">
                            <h5 class="font-weight-semibold">Resumo do Painel</h5> 
                            <p class="ml-auto">Atualizado hoje</p> 
                            <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row report-inner-cards-wrapper">
                    <div class="col-md-4 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Total de Eventos</span>
                            <h4>{{ total_eventos }}</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Participantes</span>
                            <h4>{{ total_participantes}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}